@font-face {
  font-family: 'SEGA LOGO FONT';
  font-style: normal;
  font-weight: normal;
  src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
  }

  h1 {
    font-family: 'SEGA LOGO FONT';
    font-weight: normal;
    color: #05fcf3;
    text-shadow: 3.5px 2.5px 2px black;
    margin-bottom: 1rem !important;
  }

  hr {
    width: 95%;
    border: none;
    box-shadow: .25px .25px 1px white;
    height: 1.75px !important;
    background-image: linear-gradient(to right, #f740f7, #06ffff, #f740f7, #06ffff);
    margin: 1rem auto;
  }